@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
    color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (min-width: 230px) and  (max-width: 800px) { 
    body {
        padding: 0;
        margin: 0;
    }
    #contenedor {
        width: 100%;
        background: #4c7662;
    }
    nav {
        background: #e8b05b;
        width: 100%;
        float: none;
    }
    nav ul {
        margin: 0;
    }
    nav ul li a {
        color: #000;
        padding: 0.5em;
        display: block;
    }
    section {
        border-top: 0.1em black solid;
        background: #F1F2C0;
        width: 100%;
        margin: 0;
        padding: 5px;
        float: none;
    }
    aside {
        background: #CCC59E;
        padding: 5px;
        width: 100%;
        margin-left: 0;
        float: none;
        border-top: 0.1em black solid;
    }

}
